/* Comments witin a style tag are a different format */
/* Apply style elements to the Cycle slidehow */
/* The first element in the line (element) is user-defined in the div class below */
.cycle-slideshow { width: 70%; height: 70%; margin: auto; border: 1px solid #bbb; background: #ffc }
.cycle-slideshow img { width: auto; height: 100%; opacity: 0; filter:alpha(opacity=0); }
.lower-caption { width: 80%; margin:auto; border:3px solid #bbb; background: #eee }
.caption-category { font-weight: bold; color: red; }
