/* Comments witin a style tag are a different format */
/* Apply style elements to the Cycle slidehow */
/* The first element in the line (element) is user-defined in the div class below */


.wrapper {
    width: 40%
    height: 0;
    padding-bottom: 40%;
    border: 1px;
    background: teal;
}






