/* Comments witin a style tag are a different format */
/* Apply style elements to the Cycle slidehow */
/* The first element in the line (element) is user-defined in the div class below */

/* width is 60% of containing element, which is the viewport (screen) */
/* height=0, so padding-bottom is actually setting the height of the div */
/*   padding-bottom=40%, which is 40% of the WIDTH of the containing element (screen) */
/* so ratio is 60/40 or 3:2 */
/* ration 100% to 56.25% is really 100:56.25 or 16:9 */

.wrapper {
    width: 80%;
    height: 0;
    padding-bottom: 45%;
    border: 1px;
    background: teal;
    margin: auto;
}

.slidenum {
    position: fixed;
    bottom:0;
    right:0;
    max-width:100px;
    border: 1px;
}