/* Comments witin a style tag are a different format */
/* Apply style elements to the Cycle slidehow */
/* The first element in the line (element) is user-defined in the div class below */

/* width is 60% of containing element, which is the viewport (screen) */
/* height=padding-bottom which is 40% of the containing element (screen) */

.wrapper {
    width: 60%;
    height: 0;
    padding-bottom: 40%;
    border: 1px;
    background: teal;
    margin: auto;
}
.inside {
    position: absolute;
    top:0;
    left:0;
    background: red;
}





